body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
  
header {
    background-color: #333;
    padding: 20px;
    color: white;
    text-align: center;
}
  
.introduction {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px 0;
}
  
.skills {
    background-color: #e0e0e0;
    padding: 20px;
    margin: 20px 0;
}
  
.skills ul {
    list-style: none;
    padding: 0;
}
  
.skills li {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
}
  
.contact {
    background-color: #333;
    padding: 20px;
    color: white;
}
  
.contact ul {
    list-style: none;
    padding: 0;
}
  
.contact li {
    margin-bottom: 10px;
}
  
.contact a {
    color: white;
    text-decoration: none;
}
  
/* Media Queries for Responsive Design */
@media only screen and (max-width: 600px) {
    header, .introduction, .skills, .contact {
      padding: 10px;
    }
}
  